name: CI

on:
  workflow_dispatch:    
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
#  testcoveralls:
  
#    runs-on: ubuntu-latest
    
#    steps:
#    - name: Coveralls
#      uses: coverallsapp/github-action@master
#      with:
#        github-token: ${{ secrets.GITHUB_TOKEN }}
      
  build:
    name: Build & Test
    runs-on: windows-latest
 
    steps:
    - uses: actions/checkout@v2
    
    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v1.7.2
      with:
        dotnet-version: 5.0.x
 
    - name: Restore
      run: dotnet restore
      
    - name: NuGet to restore dependencies as well as project-specific tools that are specified in the project file
      run: nuget restore

    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v1.0.2

    - name: Run msbuild
      run: msbuild .\Ahorcado.sln
      
    - name: Test
      run: dotnet test ./Tests/bin/Debug/Tests.dll --logger:"console;verbosity=normal"
      
      
      
  web-deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: build
    
    steps:
    - name: Get latest code
      uses: actions/checkout@v2
      
    - name: Sync files
      uses: sebastianpopp/ftp-action@releases/v2
      with:
        host: ftp://tpagiles2022.somee.com/www.tpagiles2022.somee.com
        user: camvives
        password: ${{ secrets.FTP_SECRET }}


      
      

